<br>
<div *ngIf="isAdmin">
<button class="btn btn-primary" (click)="toggleCreateMode()">{{createText}}</button>
<br><br>
</div>
<div *ngIf="!createMode">
  <div *ngFor="let event of events">
    <div>
      <div class="panel panel-default" [routerLink]="[event.id]" *ngIf="event.startDate < to && event.startDate > from">
        <div class="panel-heading" style="cursor:pointer"><b><h3 style="color:blue">{{ event.name }}</h3></b></div>
        <div class="panel-body">
          <div><b>Date: </b> {{event.startDate | date:'EEE, d MMM,y'}}</div>
          <div><b>Time: </b> {{event.startDate | date:'shortTime'}} - {{event.endDate | date:'shortTime'}}</div>
          <div><b>Address: </b> {{ event.street1 }} {{ event.street2 }} {{ event.city }} {{ event.state }} {{ event.zipCode }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="createMode"><br>
  <form>
    <input class="form-control" name="name" type="text" [(ngModel)]="event.name" placeholder="Event Name"><br>
    <input class="form-control" [ngModel]="dt" (ngModelChange)="dt = $event" type="date" name="startDate"/><br>
    <!--<input name="date" type="text" [(ngModel)]="event[0].date" placeholder="Date"><br>-->
    <input class="form-control" name="stime" type="time" [ngModel]="stime" (ngModelChange)="stime=$event"><br>
    <input class="form-control" name="etime" type="time" [ngModel]="etime" (ngModelChange)="etime=$event"><br>
    <input class="form-control" name="description" type="text" [(ngModel)]="event.descr" placeholder="Description"><br>
    <input class="form-control" name="street1" type="text" [(ngModel)]="event.street1" placeholder="Street"><br>
    <input class="form-control" name="street2" type="text" [(ngModel)]="event.street2" placeholder="Street Line 2"><br>
    <input class="form-control" name="city" type="text" [(ngModel)]="event.city" placeholder="City"><br>
    <input class="form-control" name="state" type="text" [(ngModel)]="event.state" placeholder="State"><br>
    <input class="form-control" name="zipcode" type="text" [(ngModel)]="event.zipCode" placeholder="Zipcode"><br>

    <br>
    <input class="btn btn-success" type="submit" text="Create" (click)="createNewEvent()">
  </form><br><br>
  <div>
