<header class="w3-container w3-white" id="id-page-header">
  <h3 style="text-align:center;">{{ title }}</h3>
  <!--<i style="text-align:right;" class="fa fa-sign-in" aria-hidden="true"></i>-->
</header>

<section class="w3-row" id="id-page-main">
  <div id="id-page-content">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="w3-container w3-white" id="id-page-footer">
  <a routerLink="dashboard"><i class="fa fa-dashboard"></i><br>Dashboard</a><a
  routerLink="volunteer"><i class="fa fa-hand-paper-o"></i><br>Volunteer</a><a
  routerLink="give"><i class="fa fa-envelope-open-o"></i><br>Give</a><a
  routerLink="myway"><i class="fa fa-user-o"></i><br>MyWay</a><a *ngIf="!login"
  routerLink=""><i class="fa fa-sign-in"></i><br>LogIn</a><a *ngIf="login"
  routerLink=""><i class="fa fa-sign-out"></i><br>LogOut</a>

</footer>
