#id-page-header {
    top:0px;
    position:fixed;
    width:100%;
    z-index:2;
    height:57px;
    border-bottom: 2px solid #CCC;
}

#id-page-main {
    top:60px;
    position:absolute;
    bottom:63px;
    left:0px;
    right:0px;
    padding: 3px 10px;
}

#id-page-footer {
    bottom:0px;
    position:fixed;
    z-index:2;
    width:100%;
    height: 60px;
    padding:0px;
    text-align: center;
    border-top:2px solid #CCC;
}

#id-page-footer > a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: .77em;
    padding-top:6px;
    padding-bottom:4px;
}

#id-page-footer > a:hover {
    color: #777;
    background-color: #CCC;
}

#id-page-footer > a > i {
    font-size: 2.6em;
}

#id-page-header  > a > i {
    font-size: 2.6em;
}
