
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <div *ngFor="let m of events;">
  <sebm-google-map-marker
          *ngIf="m.startDate > from && m.startDate < to"
          [latitude]="m.latitude"
          [longitude]="m.longitude">

        <sebm-google-map-info-window>
          <strong [routerLink]="[m.id]">{{m.name}}</strong>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>
    </div>
</sebm-google-map>
