<div class="container">
    <form (ngSubmit)='onSubmit()'>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" required name="name" maxlength="255">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="user.address" required name="address" maxlength="255">
      </div>
       <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="user.email" required name="email" maxlength="255">
      </div>
       <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" required name="password" minlength="4" maxlength="255">
      </div>
      <div class="form-group">
        <label for="retypepassword">Retype Password</label>
        <input type="password" class="form-control" id="retype password" [(ngModel)]="retype" required name="retype">
      </div>
      <div [hidden]="retype === undefined || user.password === retype" class='alert alert-warning'>
        Passwords must match!
      </div>
      <button [disabled]="user.password !== retype" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>